@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
/*-----------------------------------------------------------------------------*/
/*CONTAINER*/
.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
/*-----------------------------------------------------------------------------*/
/*TITULO*/
.titulo
{
  width: 100%;
  position: absolute;
  top: 0px;
}

/*-----------------------------------------------------------------------------*/
  /*style da div centralizada*/
.center-screen {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
/*-----------------------------------------------------------------------------*/
  /*style do mapa*/
  /* Set the size of the div element that contains the map */
#map {
    border-radius: 10px;
    border: 1px solid #000000;
    position: absolute;
    top: 50px;
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
/*-----------------------------------------------------------------------------*/
  /*style da tabela*/
  .local
{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
  table
	{
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 100%;
  }
  .thead
  {
    font-weight: bold;
  }
	td
	{
    border: 1px solid #000000;
    text-align: center;
		background-color: #FFFFFF;
  }
  /*-----------------------------------------------------------------------------*/